.is-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.search-form {        
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.gallery {
    margin-left: auto;
    margin-right: auto;
    max-width: 1260px;
    display: flex;  
    justify-content: center; 
    gap: 20px;
    flex-wrap: wrap;
}



 

  .photo-card {
    flex-basis: calc((100% - 60px) / 4);
  }


  

.card-link {
    text-decoration: none;
}

.info {
    display: flex;
    justify-content: space-around;
    align-content: center;
}


img {
    display: block;  
    max-width: 100%;
    height: auto;
  }

.info-item {
    text-align: center;
}
/* .info {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1140px;    
}

.card-link {
    max-width: 300px;
} */
